<html>
<head>
	<title>
		Micronotes for NPTEL
	</title>

	<link rel="stylesheet" type="text/css" href="styles/base.css"/>

</head>

<body id="body">
	<div id="wrapper">									<!-- whole window wrapper -->
		<div id="head_space">							<!-- space above header -->

		</div>

		<div id="container">							<!-- container except head and footer space -->
			
			<div id="head_nav_bar">						<!-- header -->
				
			</div>

			<div id="video_container">					<!-- container for video and micronotes -->
				<video id="video" controls>
					<!-- <source src="../data/sintel.mp4" type="video/mp4"> -->
					<source src="http://download.blender.org/durian/trailer/sintel_trailer-1080p.mp4" type="video/mp4"
				</video>
			</div>

			<!-- <div id="footer_nav_bar">					<!- footer 

			</div>  -->

		</div>
		<div class="push">
		</div>


	</div>

	<div id="footer_nav_bar">					<!-- footer -->

	</div>

</body>

</html>